@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Open Sans, sans serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings & Logo */

h1, h2 {
    font-family: Bubblegum Sans, sans serif;
    letter-spacing: 3px;
    color: #c2a280;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #c2a280;
}


/* hero image section */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;

/* Animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}

#cover-text-center {
    font-size: 120%;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    
    background-color: rgba(0, 0, 0, 0.4);
    
    bottom: 100px;
    right: 600px;

    position: absolute;
}

#cover-text-center h2 {
    color: #fff;
}

#cover-text-center h3 {
    color: #fff;
}

/* History section */
#history {
    padding-top: 100px;
    width:100%;
}

#left-history {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 33%;
    float: left;
}

#left-history p {
    line-height: 20px;
}

#right-history {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 33%;
    float: right;
}

#right-history p {
    line-height: 20px;
}

#center-history {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-history-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-history-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-history-heading h3 {
    text-align: right;
}

.right-history-heading p {
    text-align: right;
}

#info {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
    padding-top: 10px;
}

.highlight {
    font-weight: bold;
    font-style: italic;
    font-size: 75%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #c2a280;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-container2 {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 0 auto;
}

#circle-cover-bg1 {
    background: url(../images/brennie-power-history.webp) no-repeat center center ;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg2 {
    background: url(../images/fergus-mulvaney-history.webp) no-repeat center center ;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg3 {
    background: url(../images/shipwreck\ -\ history.webp) no-repeat center center ;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg4 {
    background: url(../images/amateur-history.webp) no-repeat center center ;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg5 {
    background: url(../images/sea-creatures-history.webp) no-repeat center center ;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg6 {
    background: url(../images/logo-image.webp) no-repeat center center ;
    height: 100%;
    border-radius: 50%;
}
/* Video */
#media {
    text-align: center;
    margin: 20px auto;
    font-family: Open Sans, sans-serif;
    color: #3a3a3a;
    letter-spacing: 1px;
    line-height: 25px;
}

iframe.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

/* Pricing section */
#pricing {
    padding-top: 60px;
    padding-bottom: 60px;
}

#price {
    background-image: url(../images/timetable-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#price div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    width: 25%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

/* How to sandsculpt section */
#how-to-sandsculpt {
    height: 600px;
    padding-bottom: 100px;
    
}

#info {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

#left-sandsculpt {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-sandsculpt {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-sandsculpt {
    width: 33%;
    margin: 0 auto;
} 

.left-sandsculpt-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-sandsculpt-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#left-sandsculpt p {
    line-height: 20px;
}

.right-sandsculpt-heading h3 {
    text-align: right;
}

#right-sandsculpt p {
    line-height: 20px;
    text-align: right;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #c2a280;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url(../images/how-to-sandsculpture-image.webp) no-repeat center center ;
    height: 100%;
    border-radius: 50%;
}

/* Gallery*/
#photos {
   clear: both; 
   line-height: 0;
   column-count: 3;
   column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* contact section*/
.form-section {
    clear: both;
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.contact-form {
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
   
   
    left: 10%;
    padding: 30px;
}

.contact-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 2px;
    background-color: transparent;
}

input:hover {
    border-color: #c2a280;
}

input[type=submit]{
    background-color: #c2a280;
    border: none;
    color: #3a3a3a;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
  }

input[type=submit]:hover {
    background-color: #fafafa;
}

/* Footer */
/* moving waves */
.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.social-icon, .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
  
.social-icon__item, .menu__item {
    list-style: none;
  }
  
.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social-icon__link:hover {
    transform: translateY(-10px);
}
  
.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}
  
.menu__link:hover {
    opacity: 1;
}
  
.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}
  
.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}
  
.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}
  
.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}
  
.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}
  
@keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
}
  
@keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
}




/* Media queries */

/* for larger and medium screens size from 1200px wide and down */
@media screen and (max-width:1200px) {
    #footer {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #left-footer, #right footer {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-footer {
        clear: both;
        width: 100%;
        float: left;
    }
}

/* for medium screens size from 950px wide and down */
@media screen and (max-width:950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}



